<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ssu.softwarednd.spring19.androidlab5">

    <!-- app permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- application components -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity">
            <!-- specifies the types of intents this activity can respond to -->
            <intent-filter>
                <!-- the main entry point for the application -->
                <action android:name="android.intent.action.MAIN" />
                <!-- put an icon for this activity in the app tray -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>